/* General Body and Content */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1; /* Ensures content takes up space and pushes footer to the bottom */
    padding: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fdf3e3;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    margin-top: auto; /* Anchors footer at the bottom when content is short */
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-socials {
    margin-top: 10px;
}

.footer-socials a {
    color: #fdf3e3;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer-socials a:hover {
    color: #c06169;
}

footer p {
    margin: 5px 0;
}
